.ipynb_checkpoints
.DS_Store
Assignment1/build
Assignment1/dist
Assignment1/examples
Assignment1/scripts
Assignment1/web
Assignment1/web.egg-info
Assignment1/Changes.rst
Assignment1/LICENSE
Assignment1/README.rst
Project/data